<form   method="POST"  name="form" role="form" >

                <label for="nom">name</label>
                <input type="text" class="form-control" id="nom" name="nom" value="{{model.nom}}">

                <label for="prenom">price</label>
                <input type="number" class="form-control" id="prenom" name="prenom" value="{{model.prenom}}">


</form>